.fixedBar {
  display: flex;
  position: fixed;
  top: -80px;
  height: 64px;
  width: 100%;
  align-items: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background: white;
  transform: translate(0, -80px);
  transition: transform 200ms;
}

.fixedBar.scrollUp {
  transform: translate(0, 64px);
  transition: transform 200ms;
}

.fixedBar h1 {
  margin-left: 100px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 26px;
}
